<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.me.dingxiangyuan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //屏幕适配 AutoLayout
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity android:name=".acitvity.MainActivity" />
        <activity android:name=".acitvity.LunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".acitvity.DatumActivity" />
        <activity android:name=".acitvity.InvitationActivity" />
        <activity android:name=".acitvity.TicklingActivity" />
        <activity android:name=".acitvity.SettingActivity" />
        <activity android:name=".acitvity.LoginActivity" />
        <activity android:name=".acitvity.RegisterActivity" />
        <activity android:name=".acitvity.UpdateActivity" />
        <activity
            android:name=".acitvity.MediaPlayActivity"
            android:launchMode="singleTask" />

        <service
            android:name=".service.MyMediaPlayService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".acitvity.DetailsActivity" />
        <activity android:name=".acitvity.NewsActivity" />
        <activity android:name=".acitvity.MessageActivity" />
        <activity android:name=".acitvity.DialogueWActivity" />
        <activity android:name=".acitvity.DialogueXActivity" />
        <activity android:name=".acitvity.Deatis2Activity"></activity>
    </application>

</manifest>